.displayClient {
  margin-left: 25%;
  padding: 10px 20px;
  background: lightskyblue;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

li {
  margin-top:5%;
  border-radius: 3px;
  padding: 10px 10px;
  width: 60rem;
  display: flex;
  margin-bottom: 5px;
}

.table-header {
  background-color: lightgray;
  font-size: 14px;
}

.table-row {
  background-color: #ffffff;
}

.col-img{
  width: 10%;
}

.col-button{
  width: 5%;
}

.col {
  border-radius: 10px;
  text-align: center;
}
