<div class="displayClient">
  <h2> Clients présents </h2>
  <ul>
    <li class="table-header">
      <div class="col col-img"></div>
      <div class="col col-button">Nom</div>
      <div class="col col-button">Prénom</div>
      <div class="col col-img">Addresse mac</div>
      <div class="col col-button">Numéro de vol</div>
      <div class="col col-button">Retirer l'utilisateur</div>
      <div class="colcol-button">Avertir l'utilisateur</div>
      <div class="col col-img">Statut</div>
    </li>
    <li class="table-row" *ngFor="let client of clientList$ | async;">
      <div class="col col-img"><img src="../../assets/account.png" alt="Account image"/></div>
      <div class="col col-button"><p>{{client.firstName}} </p></div>
      <div class="col col-button"><p>{{client.lastName}}</p></div>
      <div class="col col-img"><p>{{client.macAddress}}</p></div>
      <div class="col col-button"><p>{{client.flightNumber}}</p></div>
      <div class="col col-button">
        <button class="btn btn-danger" (click)="deleteClient(client)">Retirer</button>
      </div>
      <div class="col col-button">
        <button class="btn btn-info" (click)="pingClient(client)">Ping</button>
      </div>
      <div class="col col-img">
        <img src="../../assets/{{client.pingStatus}}.png"/>
      </div>
    </li>
  </ul>
</div>

