<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a routerLink="/client-page">
    <img
      width="40"
      alt="AirPlane logo"
      src="./assets/airplaneLogo.png"
    />
  </a>
  <span>Bienvenue</span>
  <div class="card-container">
    <a routerLink="/airport-map" class="cardToolBar card card-small " rel="noopener" href="">
      <span>Aéroport</span>
    </a>
    <a routerLink="/statistics" class="cardToolBar card card-small " rel="noopener" href="">
      <span>Statistiques</span>
    </a>
  </div>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>

  <!-- Footer -->
  <footer>
  </footer>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


